body{
  background-color: rgb(1, 1, 22);
}
h2{
  color: aquamarine;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}